.container,.container2,.container3{
    height: 32%;
    width: 90%;
    display: flex;
}


.container{
    gap: 20%;
    align-items: center;
}

.landingImg{
    width: 100%;
}

.leftContent,.rightContent{
    width: 50%;
}

.bigText{
    font-size: 30px;
    margin-bottom: 0px;
}

.container2{
    align-items: center;
    flex-direction: column;
}

.subTitle{
    text-align: center;
}

.containerFlexDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;

}

.containerFlexDiv > p{
    text-align: justify;
}

.container3{
    flex-direction: column;
    align-items: flex-start;
}