<section class = "container">
    <div class = "leftContent">
        <p class = "smallText">
            Building Bolumbias future together
        </p>
        <p class="bigText">
            Complete the Census and contribute to a better tomorrow
        </p>
    </div>
    <div class = "rightContent">
        <img class = "landingImg" src="../../../assets/ECS-landing.jpg" alt="imagen landing">
    </div>
</section>
<hr>
<section class = "container2">
    <h2 class = "subTitle">
        About Us
    </h2>
    <div class = "containerFlexDiv">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, minima animi. Nulla aliquid molestiae atque error culpa quidem minus voluptatem eum illum delectus. Dignissimos vel consequuntur, facere blanditiis qui necessitatibus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus tempore animi et quia. Libero, optio molestiae earum quia tempore sed eaque maiores distinctio cupiditate amet nostrum possimus, voluptatem odio nobis.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit vel, dolor sapiente officia saepe eum laudantium odio similique sed consequatur quae tempore eius deserunt quis expedita deleniti architecto doloremque iusto!
        </p>
    </div>
</section>
<hr>
<section class = "container3">
    <h2 class = "subTitleContact">
        Contact Infomation 
    </h2>
    <p>
        Number: 3117809965
    </p>
    <p>
        Gmail: CensusOficial@gmail.com
    </p>
</section>