<div class="landing page">
  <app-hero
    [backgroundImageUrl]="pageInfo.hero.backgroundImageUrl"
    [title]="pageInfo.hero.title"
    [subtitle]="pageInfo.hero.subtitle"
    [link]="pageInfo.hero.link"
    [buttonText]="pageInfo.hero.buttonText"
  ></app-hero>
  <section class="landing__about-us">
    <h2 class="landing__about-us__title">About Us</h2>
    <div class="landing__about-us__container">
      <p>
        As Bolumbia embarks on its first electronic census, we at ECS are
        committed to pioneering this technological transition.
      </p>
      <p>
        Our mission is to harness the power of data to shape a more informed
        future for every citizen.
      </p>
      <p>
        Join us in building a more connected and responsive Bolumbia through the
        Electronic Census System.
      </p>
    </div>
  </section>
</div>
