<form [formGroup]="mainForm">
  <div>
    <label for="totalPeople">Total number of people:</label>
    <select formControlName="totalPeople">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
</form>
<div>
  <p>Filling out information for person {{ currentPersonIndex + 1 }}</p>
</div>

<button
  type="button"
  (click)="previousPerson()"
  [disabled]="currentPersonIndex === 0"
>
  Previous
</button>
<button
  type="button"
  (click)="nextPerson()"
  [disabled]="currentPersonIndex === mainForm.value.totalPeople - 1"
>
  Next
</button>
<button type="button" [disabled]="!allFormsValid()" (click)="onSubmitAll()">
  Finalize census
</button>
<form
  class="census-form"
  *ngIf="personForms[currentPersonIndex]"
  [formGroup]="personForms[currentPersonIndex]"
  (ngSubmit)="onSubmitCurrent()"
>
  <!-- Text input for full name -->
  <div>
    <label>Full name of the resident:</label>
    <input type="text" formControlName="fullName" />
  </div>

  <!-- Number input for age -->
  <div>
    <label>Age of the resident:</label>
    <input type="number" formControlName="age" />
  </div>

  <!-- Text input for occupation -->
  <div>
    <label>Current occupation:</label>
    <input type="text" formControlName="occupation" />
  </div>

  <!-- Radio buttons for gender -->
  <div class="radio-group">
    <label>Gender:</label>
    <label
      ><input type="radio" formControlName="gender" value="Male" /> Male</label
    >
    <label
      ><input type="radio" formControlName="gender" value="Female" />
      Female</label
    >
    <label
      ><input type="radio" formControlName="gender" value="Non-binary" />
      Non-binary</label
    >
    <label
      ><input type="radio" formControlName="gender" value="Prefer not to say" />
      Prefer not to say</label
    >
  </div>

  <!-- Radio buttons for education level -->
  <div class="radio-group">
    <label>Highest level of education attained:</label>
    <label
      ><input
        type="radio"
        formControlName="educationLevel"
        value="No formal education"
      />
      No formal education</label
    >
    <label
      ><input
        type="radio"
        formControlName="educationLevel"
        value="Elementary"
      />
      Elementary</label
    >
    <label
      ><input type="radio" formControlName="educationLevel" value="Secondary" />
      Secondary</label
    >
    <label
      ><input
        type="radio"
        formControlName="educationLevel"
        value="Technical/Vocational"
      />
      Technical/Vocational</label
    >
    <label
      ><input
        type="radio"
        formControlName="educationLevel"
        value="Undergraduate"
      />
      Undergraduate</label
    >
    <label
      ><input type="radio" formControlName="educationLevel" value="Graduate" />
      Graduate</label
    >
  </div>

  <!-- Radio buttons for disabilities -->
  <div class="radio-group">
    <label>Do you have any disabilities?</label>
    <label
      ><input type="radio" formControlName="hasDisabilities" value="Yes" />
      Yes</label
    >
    <label
      ><input type="radio" formControlName="hasDisabilities" value="No" />
      No</label
    >
  </div>

  <!-- Radio buttons for marital status -->
  <div class="radio-group">
    <label>Marital status:</label>
    <label
      ><input type="radio" formControlName="maritalStatus" value="Single" />
      Single</label
    >
    <label
      ><input type="radio" formControlName="maritalStatus" value="Married" />
      Married</label
    >
    <label
      ><input
        type="radio"
        formControlName="maritalStatus"
        value="Domestic partnership"
      />
      Domestic partnership</label
    >
    <label
      ><input type="radio" formControlName="maritalStatus" value="Divorced" />
      Divorced</label
    >
    <label
      ><input type="radio" formControlName="maritalStatus" value="Widowed" />
      Widowed</label
    >
  </div>

  <!-- Radio buttons for monthly income range -->
  <div class="radio-group">
    <label>Monthly income range:</label>
    <label>
      <input
        type="radio"
        formControlName="monthlyIncomeRange"
        value="Less than $1,000"
      />
      Less than $1,000</label
    >
    <label>
      <input
        type="radio"
        formControlName="monthlyIncomeRange"
        value="$1,000 to $2,000"
      />
      $1,000 to $2,000</label
    >
    <label>
      <input
        type="radio"
        formControlName="monthlyIncomeRange"
        value="$2,001 to $5,000"
      />
      $2,001 to $5,000</label
    >
    <label>
      <input
        type="radio"
        formControlName="monthlyIncomeRange"
        value="More than $5,000"
      />
      More than $5,000</label
    >
  </div>

  <!-- Radio buttons for health insurance -->
  <div class="radio-group">
    <label>Do you have health insurance?</label>
    <label
      ><input type="radio" formControlName="hasHealthInsurance" value="Yes" />
      Yes</label
    >
    <label
      ><input type="radio" formControlName="hasHealthInsurance" value="No" />
      No</label
    >
  </div>

  <!-- Radio buttons for number of people in the household -->
  <div class="radio-group">
    <label>Number of people in the household:</label>
    <label
      ><input type="radio" formControlName="householdSize" value="1" /> 1</label
    >
    <label
      ><input type="radio" formControlName="householdSize" value="2-3" />
      2-3</label
    >
    <label
      ><input type="radio" formControlName="householdSize" value="4-5" />
      4-5</label
    >
    <label
      ><input type="radio" formControlName="householdSize" value="6 or more" />
      6 or more</label
    >
  </div>

  <!-- Radio buttons for type of housing -->
  <div class="radio-group">
    <label>Type of housing:</label>
    <label
      ><input type="radio" formControlName="housingType" value="House" />
      House</label
    >
    <label
      ><input type="radio" formControlName="housingType" value="Apartment" />
      Apartment</label
    >
    <label
      ><input type="radio" formControlName="housingType" value="Room" />
      Room</label
    >
    <label
      ><input type="radio" formControlName="housingType" value="Other" />
      Other</label
    >
  </div>

  <!-- Radio buttons for internet connection type -->
  <div class="radio-group">
    <label>What type of internet connection do you have at home?</label>
    <label>
      <input
        type="radio"
        formControlName="internetConnectionType"
        value="Fiber optic"
      />
      Fiber optic</label
    >
    <label
      ><input
        type="radio"
        formControlName="internetConnectionType"
        value="DSL"
      />
      DSL</label
    >
    <label>
      <input
        type="radio"
        formControlName="internetConnectionType"
        value="Cable"
      />
      Cable</label
    >
    <label>
      <input
        type="radio"
        formControlName="internetConnectionType"
        value="Satellite"
      />
      Satellite</label
    >
    <label
      ><input
        type="radio"
        formControlName="internetConnectionType"
        value="None"
      />
      None</label
    >
  </div>

  <button
    class="button"
    type="submit"
    [disabled]="!personForms[currentPersonIndex].valid"
  >
    Save person form
  </button>
</form>
