:host {
  display: block;
}

:host,
:host * {
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(50vh);
  border: 1px solid #e6e6ff;
  width: 100%;
  background-color: #f6f6ff;

  &__right,
  &__left {
    width: 50%;
    height: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 24px;
  }

  &__image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__action {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  // small devices
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    height: auto;

    &__image {
      width: 100%;
      height: 40vh;
    }

    &__right,
    &__left {
      width: 100%;
      height: auto;
      align-items: center;
    }

    &__left {
      text-align: center;
      padding: 8px;
    }
  }
}
