.hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
  
    h1 {
      font-size: 3rem;
      color: #fff;
    }
  
    p {
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 20px;
    }
  
    .hero-button {
      // Estilos para tu botón aquí
    }
  }
  