<div class="center-container">
  <!-- Sección de Componentes de la Página -->
  <div class="center-content">
    <app-hero
      [backgroundImageUrl]="imageUrl"
      [title]="title"
      [subtitle]="subtitle"
      [link]="link"
      [buttonText]="buttonText"
    ></app-hero>
    <hr />

    <app-section-title [title]="title" [subtitle]="subtitle"></app-section-title>
    <hr />

    <!-- Sección de Botones Personalizados -->
    <app-button [buttonText]="title" [isFinish]="true"></app-button>
    <hr />

    <!-- Sección de Tarjeta con Enlace -->
    <app-card
      [title]="title"
      [imageUrl]="imageUrl"
      [content]="subtitle"
      [buttonText]="buttonText"
      [link]="link"
    ></app-card>
    <hr />

    <!-- Sección de Botones de Acción -->
    <app-button [buttonText]="'Contact'" [isFinish]="true" (click)="contactButtonClick()"></app-button>
    <app-link-button [title]="'About Us'" [text]="'Learn more about us'" [link]="'/about'"></app-link-button>
    <app-button [buttonText]="'Login'" (click)="loginButtonClick()"></app-button>
    <app-button [buttonText]="'Enviar'" (click)="enviarButtonClick()"></app-button>
    <app-button [buttonText]="'Volver'" (click)="volverButtonClick()"></app-button>
    <app-button [buttonText]="'Enter'" (click)="enterButtonClick()"></app-button>
    <app-button [buttonText]="'Registrar'" (click)="registrarButtonClick()"></app-button>
  </div>
</div>
