<app-button [buttonText]="title" [isFinish]="true"></app-button>
<hr />
<app-card
  [title]="title"
  [imageUrl]="imageUrl"
  [content]="subtitle"
  [buttonText]="buttonText"
  [link]="link"
></app-card>
<hr />
<app-hero
  [backgroundImageUrl]="imageUrl"
  [title]="title"
  [subtitle]="subtitle"
  [link]="link"
  [buttonText]="buttonText"
>
</app-hero>
<hr />
<app-link-button
  [title]="title"
  [text]="subtitle"
  [link]="link"
></app-link-button>
<hr />
<app-paragraph [text]="subtitle" [someCondition]="true"> </app-paragraph>
<hr />
<app-section-title [title]="title" [subtitle]="subtitle"></app-section-title>
<hr />
